@font-face {
    font-family: 'Gilroy';
    src: url('../webfonts/Gilroy-Regular.eot');
    src:
        url('../webfonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Gilroy-Regular.woff2') format('woff2'),
        url('../webfonts/Gilroy-Regular.woff') format('woff'),
        url('../webfonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../webfonts/Gilroy-Bold.eot');
    src: 
        url('../webfonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Gilroy-Bold.woff2') format('woff2'),
        url('../webfonts/Gilroy-Bold.woff') format('woff'),
        url('../webfonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../webfonts/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../webfonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../webfonts/Gilroy-Semibold.woff') format('woff'),
        url('../webfonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../webfonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../webfonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Gilroy-Medium.woff2') format('woff2'),
        url('../webfonts/Gilroy-Medium.woff') format('woff'),
        url('../webfonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../webfonts/Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
        url('../webfonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Gilroy-LightItalic.woff2') format('woff2'),
        url('../webfonts/Gilroy-LightItalic.woff') format('woff'),
        url('../webfonts/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
        url('../webfonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Gilroy-Heavy.woff2') format('woff2'),
        url('../webfonts/Gilroy-Heavy.woff') format('woff'),
        url('../webfonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

